# Learn Pandas from scratch

In [4]:
# 1. Import pandas
import pandas as pd

In [5]:
pd

In [9]:
buah = pd.Series(["Apel", "Durian"])
buah

0      Apel
1    Durian
dtype: object

In [11]:
harga = pd.Series([1000,2000])
harga

0    1000
1    2000
dtype: int64

In [13]:
dataframe = pd.DataFrame({
    "Nama Buah": buah,
    "Harga Buah": harga
})
dataframe

  Nama Buah  Harga Buah
0      Apel        1000
1    Durian        2000